<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{{root}}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{root}}css/custom.css" rel="stylesheet">
        <link href="{{root}}css/photos.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{root}}assets/favicon.png" type="image/x-icon">
        <title>Medleys A Cappella - {{title}}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-md">
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#togglerNav"
                    aria-controls="togglerNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <img src="{{root}}assets/music-note-list.svg" alt="Menu" style="height: 1em; margin-left: 5px;">
                </button>
{{content}}
        <footer class="footer">
            <div class="container-md" style="text-align: center;">
                <p style="opacity: 0.5;">Follow us on social media!</p>
                <a href="https://www.youtube.com/channel/UCx0vT8btgxHZ2LJuhMA686g" target="_blank" class="icon-link"><img src="{{root}}assets/youtube.svg" alt="YouTube" style="height: 2em;"></a>
                <a href="https://www.instagram.com/medleysacappella/" target="_blank" class="icon-link"><img src="{{root}}assets/instagram.svg" alt="Instagram" style="height: 2em;"></a>
                <a href="https://www.facebook.com/medleysacappella/" target="_blank" class="icon-link"><img src="{{root}}assets/facebook.svg" alt="Facebook" style="height: 2em;"></a>
                <p style="opacity: 0.5;">&copy; 2024 Medleys A Cappella</p>
            </div>
        </footer>
        <script src="{{root}}js/bootstrap.min.js"></script>
        <script src="{{root}}js/custom.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    </body>
</html>