@font-face {
    font-family: 'luckybonesbold';
    src: url('../assets/fonts/luckybones/luckybones-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/luckybones/luckybones-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    color: black;
    line-height: 1.5;
}

h1 {
    font-family: 'luckybonesbold';
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    font-family: 'Poppins';
    margin-top: 20px;
    margin-bottom: 20px;
}

:root {
    --color: rgb(54 52 96);
}
  
body {
    margin: 0;
    font-family: Poppins;
}

.container-md {
    padding-right: 20px;
    padding-left: 20px;
}

.container {
    padding-right: 20px;
    padding-left: 20px;
}

.display-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.title-logo {
    margin-bottom: 15px;
}

@media (max-width: 575px) {
    .title-logo {
        width: 300px;
    }
    .display-title {
        font-size: 60px;
        bottom: calc(0% + 40px);
    }
    .jumbotron {
        height: 300px;
    }
    .content-wrap {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (min-width: 576px) {
    .title-logo {
        width: 400px;
    }
    .display-title {
        font-size: 60px;
        bottom: calc(0% + 40px);
    }
    .jumbotron {
        height: 400px;
    }
    .content-wrap {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .title-logo {
        width: 500px;
    }
    .display-title {
        font-size: 80px;
        bottom: calc(0% + 60px);
    }
    .jumbotron {
        height: 500px;
    }
    .content-wrap {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (min-width: 992px) {
    .jumbotron {
        height: 600px;
    }
}

@media (min-width: 1200px) {
    .title-logo {
        width: 700px;
    }
    .container-md {
        max-width: 1140px;
    }
    .jumbotron {
        height: 700px;
    }
}

.navbar {
    padding: 10px 0px;
    transition: all .2s ease-in-out;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.navbar-nav {
    margin-right: -20px;
    margin-left: -20px;
}

a.nav-item.nav-link {
    padding: 0 !important;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(0,0,0,0.5);
    font-weight: 500;
    border: none;
    transition: all .2s ease-in-out;
}

a.nav-item.nav-link:hover {
    color: rgba(0,0,0,1);
}

a.nav-item.nav-link.active {
    color: rgba(0,0,0,1);
}

.navbar-toggler {
    border: 0;
    outline: none;
    background: none;
    border-radius: 0;
    padding: 0;
    height: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
    opacity: 0.5;
    transition: all .2s ease-in-out;
    font-size: 1rem;
    align-items: center;
    display: flex;
    color: rgba(0,0,0,1);
}


.navbar-toggler:hover {
    opacity: 1;
}

.navbar-toggler:focus {
    outline: none !important;
    opacity: 1;
}

.icon-link {
    opacity: 0.5;
    transition: all .2s ease-in-out;
    height: 2em;
    margin-left: 20px;
    margin-right: 20px;
}

.icon-link:hover {
    opacity: 1;
}

.icon-link:focus {
    opacity: 1;
}

.jumbotron {
    padding: 0;
    margin: 64px 0 0 0;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 50vw;
}

.container {
    padding-right: 20px;
    padding-left: 20px;
}

.content-wrap {
    margin: 0 auto;
}

.footer {
    margin: 0 auto;
    width: 100%;
    background-color: white;
    padding: 0;
    text-align: center;
    color: black;
}

.portrait {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 25%;
}

.portrait-container {
    position: relative;
    transform: translateX(-50%);
}

.portrait-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.col-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;

}

.col-img-container {
    position: relative;
    transform: translateX(-50%);
}
  
.col-img-container::after {
    content: "";
    display: block;
    padding-bottom: 66.66%;
}

.col {
    padding: 10px;
    text-align: center;
}

.row {
    margin: 10px -10px 10px -10px;
}

.portrait-row {
    margin: -10px -10px 10px -10px;
}

.caption {
    margin: 0;
}

.name {
    margin-bottom: 0;
}

.more-link {
    opacity: 0.5;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

.more-link:hover {
    opacity: 1;
}

.more-link.active {
    opacity: 1;
}

.shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

.accordion-item {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

.accordion-button {
    padding: 20px !important;
    text-decoration: none;
    width: 100%;
    background-color: white;
    border-radius: 0px;
    border: 0px;
    color: black;
    transition: all .2s ease-in-out;
    line-height: 1.5;
}

.blue-btn, .red-btn {
    padding: 20px !important;
    text-decoration: none;
    background-color: white;
    border-radius: 0px;
    border: 0px;
    color: black;
    transition: all .2s ease-in-out;
    line-height: 1.5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    margin-bottom: 20px;
}

.accordion-header {
    color: white;
}

.accordion-body {
    padding: 20px;
    text-decoration: none;
    width: 100%;
    background-color: white;
    border-radius: 0px;
    border: 0px;
    color: black;
    transition: all .2s ease-in-out;
}

.accordion-button:hover, .blue-btn:hover {
    color: white;
    background-color: rgb(54 52 96) !important;
}

.accordion-button:focus, .blue-btn:focus {
    color: white;
    background-color: rgb(54 52 96) !important;
}

.red-btn:hover {
    color: white;
    background-color: #C13245 !important;
}

.red-btn:focus {
    color: white;
    background-color: #C13245 !important;
}

.accordion-button:not(.collapsed), .accordion-button:not(.collapsed):focus {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px;
    color: white;
    background-color: rgb(54 52 96);
}

.accordion-button::after {
    background-image: initial;
    width: 0;
}
  
.accordion-button:not(.collapsed)::after {
    background-image: initial;
    width: 0;
}

ol {
    counter-reset: list-counter;
    list-style: none;
    padding-left: 60px;
}

ol li {
    margin: 0 0 20px 0;
    padding-left: 20px;
    counter-increment: list-counter;
    position: relative;
    min-height: 60px;
}

ol li::before {
    content: counter(list-counter);
    color: #C13245;
    font-family: 'luckybonesbold';
    font-weight: bold;
    position: absolute;
    margin-left: 20px;
    --size: 60px;
    left: calc(-1 * var(--size) - 20px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    background: #ffd4dc;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.history-card {
    width: 100%;
    padding-bottom: 100%;
    float: left;
    perspective: 500px;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    transition: transform .4s;
    transform-style: preserve-3d;
}

.history-card:hover .content {
    transform: rotateY(180deg) ;
    transition: transform .4s;
}


.history-card:focus .content {
    transform: rotateY(180deg) ;
    transition: transform .4s;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #C13245;
    color: #C13245;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'luckybonesbold';
    backface-visibility: hidden;
    padding: 20px;
}

.front {
    background-image: url('../assets/heart.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.back {
    background: white;
    color: black;
    transform: rotateY(180deg);
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
  
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}