@font-face {
    font-family: 'luckybonesbold';
    src: url('../assets/fonts/luckybones/luckybones-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/luckybones/luckybones-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    color: black;
    line-height: 1.5;
}

h1 {
    font-family: 'luckybonesbold';
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-family: 'luckybonesbold';
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    font-family: 'luckybonesbold';
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    font-family: 'Poppins';
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

.lead {
    font-size: 20px;
}

:root {
    --medleys-blue: #363460;
    --medleys-blue-darker: #282744;
    --medleys-pink: #ffd4dc;
    --medleys-pink-darker: #efaab8;
    --love-notes-red: #c13245;
    --love-notes-red-darker: #982332;
    --shadow-color: #00000026;
    --transparent-black: #00000080;
}

body {
    margin: 0;
    font-family: Poppins;
}

.container-md {
    padding-right: 20px;
    padding-left: 20px;
}

.container {
    padding-right: 20px;
    padding-left: 20px;
}

.display-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.title-logo {
    margin-bottom: 15px;
}

@media (max-width: 575px) {
    .title-logo {
        width: 300px;
    }
    .display-title {
        font-size: 60px;
        bottom: calc(0% + 40px);
    }
    .jumbotron {
        height: 300px;
    }
    .content-wrap {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .modal {
        --bs-modal-margin: 20px;
    }
    .modal-body {
        padding: 0 20px 0 20px;
    }
    .modal-header {
        padding: 20px;
    }
    .col {
        padding: 10px;
    }
    .row {
        margin: 10px -10px 10px -10px;
    }
    .portrait-row {
        margin: -10px -10px 10px -10px;
    }
}

@media (min-width: 576px) {
    .title-logo {
        width: 400px;
    }
    .display-title {
        font-size: 60px;
        bottom: calc(0% + 40px);
    }
    .jumbotron {
        height: 400px;
    }
    .content-wrap {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .modal {
        --bs-modal-margin: 20px;
    }
    .modal-body {
        padding: 0 20px 0 20px;
    }
    .modal-header {
        padding: 20px;
    }
    .col {
        padding: 10px;
    }
    .row {
        margin: 10px -10px 10px -10px;
    }
    .portrait-row {
        margin: -10px -10px 10px -10px;
    }
}

@media (min-width: 768px) {
    .title-logo {
        width: 500px;
    }
    .modal {
        --bs-modal-margin: 40px;
    }
    .modal-body {
        padding: 20px 40px;
    }
    .modal-header {
        padding: 20px 40px;
    }
    .modal-portrait {
        margin-bottom: 40px;
    }
    .col {
        padding: 10px 20px;
    }
    .row {
        margin: 10px -20px 10px -20px;
    }
    .portrait-row {
        margin: -10px -20px 0 -20px;
    }
    .display-title {
        font-size: 80px;
        bottom: calc(0% + 60px);
    }
    .jumbotron {
        height: 500px;
    }
    .content-wrap {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (min-width: 992px) {
    .jumbotron {
        height: 600px;
    }
}

@media (min-width: 1200px) {
    .title-logo {
        width: 700px;
    }
    .container-md {
        max-width: 1140px;
    }
    .jumbotron {
        height: 700px;
    }
}

.navbar {
    padding: 10px 0px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    position: fixed;
}

.navbar-nav {
    margin-right: -20px;
    margin-left: -20px;
}

a.nav-item.nav-link {
    padding: 0 !important;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(0,0,0,0.5);
    font-weight: 500;
    border: none;
    transition: all .15s ease-in-out;
}

a.nav-item.nav-link:hover {
    color: rgba(0,0,0,1);
}

a.nav-item.nav-link.active {
    color: rgba(0,0,0,1);
}

.navbar-toggler {
    border: 0;
    outline: none;
    background: none;
    border-radius: 0;
    padding: 0;
    height: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
    opacity: 0.5;
    transition: all .15s ease-in-out;
    font-size: 1rem;
    align-items: center;
    display: flex;
    color: rgba(0,0,0,1);
}


.navbar-toggler:hover {
    opacity: 1;
}

.navbar-toggler:focus {
    outline: none !important;
    opacity: 1;
}

.icon-link {
    opacity: 0.5;
    transition: all .15s ease-in-out;
    height: 2em;
    margin-left: 20px;
    margin-right: 20px;
}

.icon-link:hover {
    opacity: 1;
}

.icon-link:focus {
    opacity: 1;
}

.jumbotron {
    padding: 0;
    margin: 64px 0 0 0;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 50vw;
}

.container {
    padding-right: 20px;
    padding-left: 20px;
}

.content-wrap {
    margin: 0 auto;
}

.footer {
    margin: 0 auto;
    width: 100%;
    background-color: white;
    padding: 0;
    text-align: center;
    color: black;
}

.portrait {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 25%;
}

.portrait-container {
    position: relative;
    transform: translateX(-50%);
}

.portrait-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.col {
    text-align: center;
}

.col-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;

}

.col-img-container {
    position: relative;
    transform: translateX(-50%);
}

.col-img-container::after {
    content: "";
    display: block;
    padding-bottom: 66.66%;
}

.caption {
    margin: 0;
}

.caption-heading {
    margin-bottom: 0;
}

.more-link {
    opacity: 0.5;
    transition: all .15s ease-in-out;
    text-decoration: none;
    border-bottom: 1px solid;
}

.more-link:hover {
    opacity: 1;
}

.more-link.active {
    opacity: 1;
}

.shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

.accordion-item {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

.accordion-button {
    padding: 20px !important;
    text-decoration: none;
    width: 100%;
    background-color: white;
    border-radius: 0px;
    border: 0px;
    color: black;
    transition: all .15s ease-in-out;
    line-height: 1.5;
}

.red-btn, .pink-btn {
    padding: 20px;
    text-decoration: none;
    border-radius: 0px;
    border: 0px;
    transition: all .15s ease-in-out;
    line-height: 1.5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    margin-bottom: 20px;

}

.red-link {
    color: #C13245;
    border-bottom: 1px solid #C13245;
    text-decoration: none;
    transition: all .15s ease-in-out;
}

.light-link:hover, .light-link:active, .light-link:focus {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}

.light-link {
    color: #ffd4dc;
    border-bottom: 1px solid #ffd4dc;
    text-decoration: none;
    transition: all .15s ease-in-out;
}

.light-link:hover, .light-link:active, .light-link:focus {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}

.dark-link {
    color: rgb(54 52 96);
    border-bottom: 1px solid rgb(54 52 96);
    text-decoration: none;
    transition: all .15s ease-in-out;
}

.dark-link:hover, .dark-link:active, .dark-link:focus, .red-link:hover, .red-link:active, .red-link:focus {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}

.accordion-header {
    color: white;
}

.accordion-body {
    padding: 20px;
    text-decoration: none;
    width: 100%;
    background-color: white;
    border-radius: 0px;
    border: 0px;
    color: black;
    transition: all .15s ease-in-out;
}

.accordion-button:hover {
    color: white;
    background-color: rgb(54 52 96) !important;
}

.accordion-button:focus {
    color: white;
    background-color: rgb(54 52 96) !important;
}

.red-btn {
    color: white;
    background-color: #c13245 !important;
}

.pink-btn {
    color: black;
    background-color: #ffd4dc !important;
}

.red-btn:hover, .red-btn:focus, .pink-btn:hover, .pink-btn:focus {
    color: black;
    background-color: white !important;
}

.form-control {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
    border: 0;
}

textarea {
    min-height: 64px !important;
}

.form-control::placeholder {
    color: rgba(0,0,0,0.5);
    opacity: 1;
}

.accordion-button:not(.collapsed), .accordion-button:not(.collapsed):focus {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px;
    color: white;
    background-color: rgb(54 52 96);
}

.accordion-button::after {
    background-image: initial;
    width: 0;
}

.accordion-button:not(.collapsed)::after {
    background-image: initial;
    width: 0;
}

ol {
    counter-reset: list-counter;
    list-style: none;
    padding-left: 60px;
}

ol li {
    margin: 0 0 20px 0;
    padding-left: 20px;
    counter-increment: list-counter;
    position: relative;
    min-height: 60px;
}

ol li::before {
    content: counter(list-counter);
    color: #C13245;
    font-family: 'luckybonesbold';
    font-weight: bold;
    position: absolute;
    margin-left: 20px;
    --size: 60px;
    left: calc(-1 * var(--size) - 20px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    background: #ffd4dc;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.155%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-outline-custom {
    --bs-btn-color: rgb(54 52 96);
    --bs-btn-border-color: rgb(54 52 96);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(54 52 96);
    --bs-btn-hover-border-color: rgb(54 52 96);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(54 52 96);
    --bs-btn-active-border-color: rgb(54 52 96);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: rgb(54 52 96);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: rgb(54 52 96);
    --bs-gradient: none;
}

.embed-responsive-item {
    width: 100%;
    min-height: 70vh;
}

.carousel-control-prev,
.carousel-control-next {
    margin-top: 56px;
    margin-bottom: 56px;
}

.modal {
    transition: all .15s ease-in-out;
}

.modal.fade .modal-dialog {
    transition: all .15s ease-out;
    transform: none;
}

.modal-content {
    border: 0;
    border-radius: 0;
}

.modal-header {
    border: 0;
    border-radius: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    background-color: var(--medleys-blue);
}

.modal-title {
    margin: 0;
    color: var(--medleys-pink);
}