.portrait-chelsea-greene {
    object-position: 50% 60%;
}

.portrait-claire-renoe {
    object-position: 50% 10%;
}

.portrait-joy-cheng {
    object-position: 50% 60%;
}

.portrait-steve-chung {
    object-position: 50% 50%;
}

.portrait-madeline-ellmore {
    object-position: 50% 100%;
}

.portrait-vincent-lin {
    object-position: 20% 60%;
}

.portrait-elliot-kang {
    object-position: 50% 0%;
}

.portrait-warren-wu {
    object-position: 50% 0%;
}

.portrait-david-xu {
    object-position: 50% 40%;
}